body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.board-informations {
    width: 95vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.number-fields {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.numero {
    width: 4.5rem;
    height: 3rem;
    text-align: center;
    border-color: rgb(82, 200, 82);
    border-radius: 5px;
}

.btn-ordenar button {
    width: 17rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(82, 200, 82);
} .btn-ordenar button:hover {
    background-color: rgb(53, 128, 53);
    color: white;
    transition: 1s;
}